# EditorConfig is awesome: https://EditorConfig.org

root = true

[**]
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
tab_width = 4

; Komodo Settings
editAutoWrapColumn = 140 ; Edge line column at 140 characters
editWrapType = 1 ; Wrap by word
trackchanges_enabled = true
